<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">

    <!-- Meta -->
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.1/css/selectize.default.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <style>
        /*.ck-editor__editable {*/
        /*    min-height: 200px !important;*/
        /*}*/


        .exampleSearch {
            width: 250px;
            margin: 50px;
            display: block;
        }

    </style>

</head>
<body>
    <div th:fragment="navbar">
        <nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#">BLOG</a>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" th:href="@{/user/post/add}">Create</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" th:href="@{/user/post/all}">Posts</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link" th:href="@{/user/comments}">Comments</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link" th:href="@{/user/profile}">My Profile</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link" th:href="@{/logout}">Logout</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>
    </div>

    <div th:fragment="footer">
        <!-- Javascript -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!--        <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.1/js/standalone/selectize.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <!-- Latest compiled JavaScript -->
<!--        <script src="https://cdn.ckeditor.com/ckeditor5/20.0.0/classic/ckeditor.js"></script>-->
        <script defer src="https://use.fontawesome.com/releases/v5.7.1/js/all.js" integrity="sha384-eVEQC9zshBn0rFj4+TU78eNA19HMNigMviK/PU/FFjLXqa/GKPgX58rvt5Z8PLs7" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
        <script src="/ckeditor/ckeditor.js"></script>
        <script>
            $(document).ready(function(){
            $('#search').selectize();
        });

            CKEDITOR.replace( 'editor1' );
        </script>
         </div>
</body>
</html>